@page "/login"
@using BookingSystem.Client.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject IHttpClientFactory ClientFactory
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthStateProvider

<MudCard Class="pa-4 mt-5 mx-auto" Style="max-width: 400px;">
    <MudCardContent>
        <MudText Typo="Typo.h5" Class="mb-4">ورود به سیستم</MudText>

        <MudForm @ref="_form">
            <MudTextField @bind-Value="model.Email"
                          For="@(() => model.Email)"
                          Label="ایمیل"
                          Variant="Variant.Outlined"
                          Required="true"
                          InputType="InputType.Email"
                          Class="mb-3" />

            <MudTextField @bind-Value="model.Password"
                          For="@(() => model.Password)"
                          Label="رمز عبور"
                          Variant="Variant.Outlined"
                          InputType="InputType.Password"
                          Required="true"
                          Class="mb-3" />

            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       FullWidth="true"
                       Disabled="_isSubmitting"
                       OnClick="HandleLogin">
                @if (_isSubmitting)
                {
                    <MudProgressCircular Size="Size.Small" Class="mr-2" />
                    <span>در حال ورود...</span>
                }
                else
                {
                    <span>ورود</span>
                }
            </MudButton>
        </MudForm>
    </MudCardContent>
</MudCard>

